out
dist
node_modules
.vscode-test/
*.vsix
.env
openmcp-sdk
.DS_Store
.exe

.idea
resources/ocr/*.js
resources/ocr/*.wasm
resources/renderer
resources/service
*.traineddata
.turbo
stats.html
.openmcp
test-vsix
resources/changelog/**