.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
renderer/**
service/**
news/**
test/**
servers/**
scripts/**
software/**
*.sh
*.ps1

.editorconfig
.gitattributes
*.vsix
.turbo
.github
webpack
.openmcp
.vscode