*.DS_Store
*.sw[po]
*.py[co]
*.out
*.ini
# Bah, LaTeX junk
*.aux
*.log
*.synctex.gz
*.dvi
*.fdb_latexmk
*.fls
*.toc
*.bbl
*.blg
# Videos
*.mp4
*.mov
*.avi
*.flv
*.wmv
*.mp3
# Local env
desktop.ini
E_norm.csv
#Not my Work
/Papers
/Flutter
#Compresed files
*.zip
Office-Word-MCP-Server/mcp-config.json